h1{
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}
p{
    font-size: 20px;
    color: #330867;
    font-style: oblique;
    font-weight: 500px;
    text-align: center;
}