h1{
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}
p{
    font-size: 6em;
    color: #330867;
    font-style: oblique;
    font-weight: 500px;
    text-align: center;
    position: relative;
    line-height: 0.7em;
    -webkit-box-reflect:below 2px linear-gradient(transparent, #0008);
    animation: animate 5s linear infinite;
    letter-spacing: 15px;
    outline: none;
    width:100%;
    text-transform: capitalize;
}
body{
    background-color: cornflowerblue;
}

form{
    border: #0008 2px solid;
    height: 350px;
    width: 1250px;
    background-color: burlywood;
}
.childform{
    border: #0008 2px solid;
    height: 250px;
    width: 600px;
    background-color: rgb(201, 22, 177);
    position: relative;
    top: 50px;
    bottom: 100px;
}

.childform input,.btn{
position: relative;
top: 100px;
left: 100px;
}